@keyframes scale {
		  0% {
			transform: scale(1.5);
			opacity: 0;
		  }
		  100% {
			transform: scale(1);
			opacity: 1;
		  }
}

@keyframes start {
		  0% {
			transform: translateX(-120%);
		  }
		  100% {
			transform: translateX(-110%);
		  }
}

@keyframes start2 {
		  0% {
			transform: translateX(120%);
		  }
		  100% {
			transform: translateX(100%);
		  }
}

@keyframes slideInFromRight1 {
		  0% {
			transform: translateX(100%);
		  }
		  100% {
			transform: translateX(85%);
		  }
}

@keyframes slideInFromRight2 {
		  0% {
			transform: translateX(85%);
		  }
		  100% {
			transform: translateX(0);
		  }
}


@keyframes slideInFromLeft1 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-85%);
		  }
}

@keyframes slideInFromLeft2 {
		  0% {
			transform: translateX(-85%);
		  }
		  100% {
			transform: translateX(0);
		  }
}

@keyframes slideInFromLeft3 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-11%);
		  }
}

@keyframes slideInFromLeft4 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-3%);
		  }
}

@keyframes slideInFromLeft5 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-63%);
		  }
}

@keyframes slideInFromLeft6 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-60%);
		  }
}

@keyframes slideInFromLeft7 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-13%);
		  }
}

@keyframes slideInFromLeft8 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-5%);
		  }
}

@keyframes slideInFromLeft9 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-33%);
		  }
}

@keyframes slideInFromLeft10 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-64%);
		  }
}

@keyframes slideInFromLeft11 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-19%);
		  }
}

@keyframes slideInFromLeft12 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-52%);
		  }
}

@keyframes slideInFromLeft13 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-54%);
		  }
}

@keyframes slideInFromLeft14 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-15%);
		  }
}

@keyframes slideInFromLeft15 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-20%);
		  }
}

@keyframes slideInFromLeft16 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-37%);
		  }
}

@keyframes slideInFromLeft17 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-80%);
		  }
}

@keyframes slideInFromLeft18 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-65%);
		  }
}


@keyframes slideInFromLeft19 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-20%);
		  }
}

@keyframes slideInFromLeft20 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-19%);
		  }
}

@keyframes slideInFromLeft21 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-45%);
		  }
}

@keyframes slideInFromLeft22 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-87%);
		  }
}
@keyframes slideInFromLeft23 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-35%);
		  }
}

@keyframes slideInFromLeft24 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-33%);
		  }
}

@keyframes slideInFromLeft25 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-45%);
		  }
}

@keyframes slideInFromLeft26 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-37%);
		  }
}

@keyframes slideInFromLeft27 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-29%);
		  }
}

@keyframes slideInFromLeft28 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-9%);
		  }
}

@keyframes slideInFromLeft29 {
		  0% {
			transform: translateX(-110%);
		  }
		  100% {
			transform: translateX(-1%);
		  }
}



.back {
			background-image: url(bg-main.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
}


@media (min-width: 992px){			
		.block0 {
			font-size: 180%;
		}
}

@media (max-width: 992px){			
		.block0 {
			font-size: 120%;
		}
}

@media (min-width: 768px){	
		.container.lister{
			padding: 0px 150px;
		}
		.container.lister2{
			padding: 0px 250px;
		}
		.col-md-9.lister {
			 padding-left: 0px; padding-right: 0px; padding-top: 3px;
		}
		.col-md-2.lister {
			text-align: right;
		}

		.summ {
			padding-left: 80px; 
			padding-right: 80px;	
		}
		
		.col-md-10.lister {
			 padding-top: 4px;
		}

		.col-md-6.dir{
			text-align: right; padding-top: 15px;
		}
		.col-md-6.dir2{
			text-align: right; padding-top: 0px;
		}
		.col-md-3.dir{
			text-align: right; padding-top: 15px;
		}
		.col-md-2.newe {
	    text-align: center;
	}
}

@media (max-width: 768px){
	.col-md-1.lister {
		padding-top: 5px; 
		text-align: right;
	}
	.col-md-2.newe {
	    text-align: right;
	}
}

@media (min-width: 768px){			
		.block-container {
			 padding: 0px 100px;
		}
}


.block0a {
			animation: 2.1s ease 0s 1 scale;
			text-shadow: rgb(0, 0, 0) 1px 2px;
			padding: 20px 25px;
			background: rgba(0, 0, 0, 0.6);
			text-align: center;
			font-weight: 900;
			color: rgba(255,255,255,1);
			font-style: normal;
			font-family: 'Open Sans',Arial,Helvetica,sans-serif;
			letter-spacing: 4px;
			border-radius: 8px;
}

.block1 {
			overflow: hidden;
}

.block1a {
			transition: background-color 0.5s ease;
			animation: .01s step-start 0s 1 start2 forwards, .01s step-start 2s 1 slideInFromRight1 forwards, 1.6s ease 2.01s 1 slideInFromRight2 forwards;
			background-color: #782f40;
			padding: 15px 15px;
			box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
			text-align: center;
			padding: 10px 15px;
			letter-spacing: 2px;
			border-radius: 8px;
}

.loadingbar{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft3 forwards;
}
.loadingbar2{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft4 forwards;
}
.loadingbar3{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft5 forwards;
}
.loadingbar4{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft6 forwards;
}
.loadingbar5{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft7 forwards;
}
.loadingbar6{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft8 forwards;
}
.loadingbar7{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft9 forwards;
}
.loadingbar8{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft10 forwards;
}
.loadingbar9{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft11 forwards;
}
.loadingbar10{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft12 forwards;
}
.loadingbar11{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft13 forwards;
}
.loadingbar12{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft14 forwards;
}
.loadingbar13{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft15 forwards;
}
.loadingbar14{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft16 forwards;
}
.loadingbar15{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft17 forwards;
}
.loadingbar16{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft18 forwards;
}
.loadingbar17{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft19 forwards;
}
.loadingbar18{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft20 forwards;
}
.loadingbar19{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft21 forwards;
}
.loadingbar20{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft22 forwards;
}
.loadingbar21{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft23 forwards;
}
.loadingbar22{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft24 forwards;
}
.loadingbar23{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft25 forwards;
}
.loadingbar24{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft26 forwards;
}
.loadingbar25{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft27 forwards;
}
.loadingbar26{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft28 forwards;
}
.loadingbar27{
			animation: .01s step-start 0s 1 start forwards, 2s ease .3s 1 slideInFromLeft29 forwards;
}




.block2 {
			overflow: hidden;
}

.block2a {
			transition: background-color 0.5s ease;
			animation: .01s step-start 0s 1 start forwards, .01s step-start 2s 1 slideInFromLeft1 forwards, 1.6s ease 2.01s 1 slideInFromLeft2 forwards;
			background-color: #782f40;
			padding: 0px 15px;
			visibility: inherit;
			box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
			text-align: center;
			padding: 10px 15px;
			letter-spacing: 2px;
			border-radius: 8px;
}

.block3 {
			display: block;
			overflow: hidden;
}

.block3a {
			transition: background-color 0.5s ease;
			animation: .01s step-start 0s 1 start forwards, .01s step-start 2s 1 slideInFromLeft1 forwards, 1.6s ease 2.01s 1 slideInFromLeft2 forwards;
			background-color: #782f40;
			padding: 0px 15px;
			box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
			text-align: center;
			padding: 10px 15px;
			letter-spacing: 2px;
			border-radius: 8px;
}

.block1a:hover {
			background-color: rgb(0, 0, 0);
}

.block2a:hover {
			background-color: rgb(0, 0, 0);
}

.block3a:hover {
			background-color: rgb(0, 0, 0);
}

a:hover {
			text-decoration: none;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-top,
  .card-group > .card:first-child .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:first-child .card-img-bottom,
  .card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-top,
  .card-group > .card:last-child .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:last-child .card-img-bottom,
  .card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0;
  }
  .card-group > .card:only-child {
    border-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-top,
  .card-group > .card:only-child .card-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .card-group > .card:only-child .card-img-bottom,
  .card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion .card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}